#image{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.img-caption{
  display: block;
}
img{
  display: block;
}
body {
  background-color: #DEDEDE;
}
#sub-tittle {
  text-align: center;
}

h1{
  text-align: center;
}
#rectangle{
  color:
}