* {
    background-color: #ffffff;
  }
  a {
    color: #4548da;
  }
  a:hover {
    background-color: #92869c;
    color: #3a3240;
  }
  #navbar {
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    height: 100%;
    top: -5px;
    left: -3px;
    padding: 5px;
    text-align: center;
    color: #000000;
  }
  @media (min-width: 480px) {
    #navbar {
      position: fixed;
    }
  }
  main {
    margin-left: 220px;
    color: #000000;
  }
  header {
    font-size: 20pt;
  }
  code {
    background-color: #d5d835;
    border-style: dashed;
    border-width: 2px;
    border-color: #e72727;
    padding: 5px;
    color: #000000;
  }
  footer {
    text-align: center;
  }